<!DOCTYPE html>
<html>
<head>
  <title>AngularRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset='UTF-8' name='viewport' content='width=device-width, intitial-scale=1.0'>
</head>
<body>
  <div ng-app="MyApp">
  <div class="container">
    <div class="header">
      <ul class="nav-fluid">
        <a href="/">Home </a>|
        <a href="#/create">Create </a>|       
        <a href="#/play">Play </a>
      </ul>
    </div><!-- header -->
    <hr>
    <div ng-view=""><!-- angular 'yield' -->
    </div>
  </div><!-- container -->
</div><!-- ng-app ng-controller -->

</body>
</html>
